
.contact-info .heading, 
.contact-form .heading {
  text-transform: capitalize;
}

div.contact-form {
	display:block;
	text-align:center;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page 
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page p {
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
}

#contact-page .form-control {
  background-color: #fff;
  border: 2px solid black;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 70%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {

  
  background-color: #4CAF50;
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#contact-page .form-control:focus, 
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: green;
}

#contact-page .contact-info {
  padding: 0 20px;
  float:right;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.middlepane2 h2 {
	color: green;
	text-align: center;	
	padding-top: 35px;
	font-size: 35px;
}

.middlepane2 h2:after{
    content: ' ';
    display: block;
    border: 2px solid black;
	margin-left: 100px;
	margin-right: 100px;
}

